@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7_1_wrapper :first-child {
  margin-left: 0;
}

.q7_1_left {
  float: left;
  margin-left: 50px;
}

.q7_text {
  width: 225px;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table_cell {
  display: table-cell;
  vertical-align: middle;
}

.q7_2_padding {
  padding-left: 50px;
}

.q7_2_text {
  padding-left: 10px;
}

.q7_3_wrapper :first-child{
  margin-left: 0;
}

.q7_3_text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  width: 220px;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.font0 {
  font-size: 0;
}

.inline_block_left {
  display: inline-block;
  width: 300px;
  box-sizing: border-box;
  vertical-align: top;
}

.inline_block_right {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: top;
  margin-left: -300px;
  padding-left: 350px;
}

.text {
  font-size: 16px;
}


/* 回答はここに書いてね */
